# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
frontend/dist/
frontend/.vite/

# Environment files
*.env
*.env.local

# Editor folders
.vscode/
.idea/
.DS_Store
Kush-Project3-recording.mp4
